<%= form_with model: @contact,name: "contact", class:"p-3 p-xl-4",url:"/contactform",method: :post do |form|%>
    <div class="mb-3"><input class="form-control" type="email" id="email-1" name="email" placeholder="Your email"></div>
    <div class="mb-3"><input class="form-control" type="text" id="name-1" name="subject" placeholder="Subject"></div>
    <div class="mb-3"><textarea class="form-control" id="message-1" name="body" rows="6" placeholder="Message"></textarea></div>
    <div>   
        <button class="btn btn-prime d-block w-100" type="submit">Send</button>
    </div>
<%end%>
