
  body {
    font-family: monospace;
    font-weight:400;
    font-size: 16px;
    line-height: 1.8;
    color:#fff;
  }
  .main_div{
    max-width: 330px;
    width: 90%;
    background-color: #1e2833;
    padding: 40px;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
    margin: auto;
    margin-top: 150px;
  }

  a{
    margin-bottom: 1rem;
  }
  
  em{
    font-size: medium;
  }
  input{
    margin-bottom: 1rem;
    border-radius: 4px;
    width: 250px;
  }
  #user_remember_me{
    width: auto;
  }
  .image{
    margin-bottom: 2rem;
  }
  .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    color:rgb(0, 255, 255);   
  }
  .btn-prime:hover{
    color:rgb(0, 255, 255);
  }